html {
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc);
}

#container {
    height: 400px;
    width: 550px;
    background-color: #9DD2EA;
    margin: 100px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 0px #009de4;
    /*  box-shadow: [horizontal offset] [vertical offset] 
    [blur radius] [spread radius] [color]; */
    position: relative;
}

#score {
    background-color: #F1FF92;
    color: #888E5F;
    padding: 11px;
    position: absolute;
    right: 11px;
    box-shadow: 0px 4px #9da853;
}

#correct {
    position: absolute;
    left: 45%;
    background-color: #42e252;
    color: white;
    padding: 11px;
    display: none;
}

#wrong {
    position: absolute;
    left: 42%;
    background-color: #de401a;
    color: white;
    padding: 11px;
    display: none;
}

#question {
    width: 450px;
    height: 150px;
    margin: 50px auto 10px auto;
    background-color: #9da0ea;
    box-shadow: 0px 4px #535aa8;
    text-align: center;
    /* for horizontal center */
    font-size: 100px;
    font-family: cursive, sans-serif;
    color: black;
}

#instruction {
    width: 450px;
    height: 50px;
    background-color: #b481d9;
    margin: 10px auto;
    text-align: center;
    line-height: 50px;
    box-shadow: 0px 4px #8153a8;
}

#choices {
    width: 450px;
    height: 100px;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
}

.box {
    width: 85px;
    height: 85px;
    background-color: white;
    flex-direction: column;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 80px;
}

.box:hover {
    background-color: #9c89F6;
    color: white;
    box-shadow: 0px 4px #6b54d3;
}